In [1]:
#Load libraries
import pandas as pd
import numpy as np

In [2]:
#Load Data
df_salgender=pd.read_csv('SalaryGender.csv')

In [4]:
#Check first 5 records
df_salgender.head(5)

   Salary  Gender  Age  PhD
0   140.0       1   47    1
1    30.0       0   65    1
2    35.1       0   56    0
3    30.0       1   23    0
4    80.0       0   53    1

In [9]:
#Save each column as an array
np_data=np.array(df_salgender)
print(np_data)

[[140.     1.    47.     1.  ]
 [ 30.     0.    65.     1.  ]
 [ 35.1    0.    56.     0.  ]
 [ 30.     1.    23.     0.  ]
 [ 80.     0.    53.     1.  ]
 [ 30.     0.    27.     0.  ]
 [ 60.     1.    53.     0.  ]
 [ 31.1    0.    30.     0.  ]
 [125.     1.    44.     1.  ]
 [ 51.     1.    63.     1.  ]
 [  3.     1.    22.     0.  ]
 [ 46.     1.    59.     0.  ]
 [150.     1.    60.     1.  ]
 [  3.     1.    28.     0.  ]
 [130.     1.    65.     0.  ]
 [ 15.     0.    25.     0.  ]
 [130.     1.    65.     0.  ]
 [ 84.     0.    47.     1.  ]
 [190.     1.    66.     1.  ]
 [ 74.     1.    45.     1.  ]
 [ 73.     0.    46.     0.  ]
 [ 10.     0.    24.     0.  ]
 [ 50.     0.    60.     0.  ]
 [  7.     0.    63.     0.  ]
 [  9.5    0.    27.     0.  ]
 [ 15.2    1.    66.     1.  ]
 [ 28.6    1.    36.     1.  ]
 [ 20.     0.    30.     0.  ]
 [ 72.     0.    51.     1.  ]
 [ 81.     1.    65.     1.  ]
 [100.     0.    45.     1.  ]
 [ 90.     0.    52.     1.  ]
 [ 90.     0.    54.     1.  ]
 [ 35.     1.    30.     0.  ]
 [ 30.     0.    52.     0.  ]
 [ 25.     1.    26.     0.  ]
 [ 52.     0.    49.     0.  ]
 [  9.     0.    22.     0.  ]
 [ 63.     1.    34.     1.  ]
 [ 72.     1.    60.     0.  ]
 [ 16.     1.    28.     0.  ]
 [ 92.     0.    58.     1.  ]
 [106.     1.    77.     1.  ]
 [  2.5    1.    67.     0.  ]
 [  9.     0.    27.     0.  ]
 [ 32.     0.    48.     1.  ]
 [ 32.     0.    45.     0.  ]
 [ 55.     1.    49.     1.  ]
 [ 52.     1.    36.     0.  ]
 [ 28.     0.    65.     1.  ]
 [ 20.     0.    32.     0.  ]
 [ 14.7    0.    49.     0.  ]
 [ 22.3    1.    67.     0.  ]
 [ 34.8    0.    22.     0.  ]
 [ 84.     0.    49.     1.  ]
 [ 19.     1.    43.     0.  ]
 [160.     1.    61.     1.  ]
 [ 65.     0.    43.     1.  ]
 [ 55.     0.    52.     0.  ]
 [  4.6    1.    51.     0.  ]
 [102.     1.    66.     1.  ]
 [ 20.     1.    29.     0.  ]
 [ 62.     0.    62.     0.  ]
 [ 55.     1.    56.     1.  ]
 [ 45.6    1.    61.     0.  ]
 [ 40.     0.    56.     0.  ]
 [ 24.     0.    41.     0.  ]
 [ 35.     1.    24.     0.  ]
 [ 48.     0.    60.     0.  ]
 [ 20.     0.    43.     0.  ]
 [ 40.7    0.    57.     0.  ]
 [ 15.     1.    23.     0.  ]
 [  0.25   0.    53.     0.  ]
 [152.     1.    71.     1.  ]
 [ 39.8    0.    20.     0.  ]
 [ 12.     0.    27.     0.  ]
 [ 30.     1.    69.     1.  ]
 [120.     1.    58.     1.  ]
 [  1.7    1.    37.     0.  ]
 [ 36.     1.    32.     1.  ]
 [ 96.     1.    33.     1.  ]
 [ 38.     0.    32.     1.  ]
 [ 90.     1.    60.     0.  ]
 [  9.     1.    71.     0.  ]
 [ 25.8    0.    30.     0.  ]
 [ 22.     0.    62.     0.  ]
 [ 38.8    0.    54.     0.  ]
 [ 72.     1.    42.     1.  ]
 [ 89.     1.    62.     0.  ]
 [ 41.     0.    51.     1.  ]
 [ 89.     1.    71.     1.  ]
 [ 25.     0.    29.     0.  ]
 [ 52.     1.    55.     1.  ]
 [115.     0.    54.     0.  ]
 [ 66.     0.    55.     1.  ]
 [ 18.6    1.    26.     0.  ]
 [152.     1.    56.     1.  ]
 [  1.8    1.    28.     0.  ]
 [ 35.     0.    44.     0.  ]
 [  4.     0.    24.     0.  ]]

In [13]:
sal_array=np.array(df_salgender['Salary'])
gender_array=np.array(df_salgender['Gender'])
age_array=np.array(df_salgender['Age'])
phd_array=np.array(df_salgender['PhD'])

In [14]:
print(sal_array)
print(gender_array)
print(age_array)
print(phd_array)

[140.    30.    35.1   30.    80.    30.    60.    31.1  125.    51.
   3.    46.   150.     3.   130.    15.   130.    84.   190.    74.
  73.    10.    50.     7.     9.5   15.2   28.6   20.    72.    81.
 100.    90.    90.    35.    30.    25.    52.     9.    63.    72.
  16.    92.   106.     2.5    9.    32.    32.    55.    52.    28.
  20.    14.7   22.3   34.8   84.    19.   160.    65.    55.     4.6
 102.    20.    62.    55.    45.6   40.    24.    35.    48.    20.
  40.7   15.     0.25 152.    39.8   12.    30.   120.     1.7   36.
  96.    38.    90.     9.    25.8   22.    38.8   72.    89.    41.
  89.    25.    52.   115.    66.    18.6  152.     1.8   35.     4.  ]
[1 0 0 1 0 0 1 0 1 1 1 1 1 1 1 0 1 0 1 1 0 0 0 0 0 1 1 0 0 1 0 0 0 1 0 1 0
 0 1 1 1 0 1 1 0 0 0 1 1 0 0 0 1 0 0 1 1 0 0 1 1 1 0 1 1 0 0 1 0 0 0 1 0 1
 0 0 1 1 1 1 1 0 1 1 0 0 0 1 1 0 1 0 1 0 0 1 1 1 0 0]
[47 65 56 23 53 27 53 30 44 63 22 59 60 28 65 25 65 47 66 45 46 24 60 63
 27 66 36 30 51 65 45 52 54 30 52 26 49 22 34 60 28 58 77 67 27 48 45 49
 36 65 32 49 67 22 49 43 61 43 52 51 66 29 62 56 61 56 41 24 60 43 57 23
 53 71 20 27 69 58 37 32 33 32 60 71 30 62 54 42 62 51 71 29 55 54 55 26
 56 28 44 24]
[1 1 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 1 1 1 0 0 0 0 0 1 1 0 1 1 1 1 1 0 0 0 0
 0 1 0 0 1 1 0 0 1 0 1 0 1 0 0 0 0 1 0 1 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 1
 0 0 1 1 0 1 1 1 0 0 0 0 0 1 0 1 1 0 1 0 1 0 1 0 0 0]

In [15]:
#Save the array
np.save('sal_array.npy',sal_array)

In [16]:
#Check Shape
df_salgender.shape

(100, 4)

In [17]:
#Type of dataset
type(df_salgender)

pandas.core.frame.DataFrame